<a href="https://colab.research.google.com/github/hr-sundar/Desktop/blob/main/Another_copy_of_Deepu_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = " Raju is king of the python "
print(name)

 Raju is king of the python

In [ ]:
name = "Deepika is very beutiful girl in the world "
print(name)

Deepika is very beutiful girl in the world

In [ ]:
name = "M Sundara Raju , M Deepika"
print("Both of them are close friends : " +name)

Both of them are close friends : M Sundara Raju , M Deepika

In [ ]:
 a = 10
 b = 20
 print(a+b)

30

In [ ]:
a = "M SUNDAR"
print(a)

M SUNDAR

In [ ]:
a = int(input(""))
b = int(input(""))
print("power of a ",a**b)

2
3
power of a and b 8

In [ ]:
a = 2*6-3/8+4-8*9
print(a)

-56.375

In [ ]:
a = "M SUNDARA RAJU"
print(len(a))

14

In [ ]:
a = (2.44)
print(type(str(a)))

<class 'str'>

In [ ]:
string = "m sundara raju"
print(string[0:14])

m sundara raju

In [ ]:
a = 5
b = 10
print(a!=b)

True

In [ ]:
print(1.0+3.5+6+7.9)

18.4

In [ ]:
 a = 5>2
 b = 4<5
 print(a & b)

True

In [ ]:
a = 2>5
print( a)

False

In [ ]:
print("sundar==deepika")

sundar==deepika

In [ ]:
 a= 5>4
 if ():
     print(a)

True

In [ ]:
a = int(input("enter your age"))
if a <18:
    print("your minor")
elif a >=18 and a<=60:
    print("your are adult")
else:
    print("senior citizen")

enter your age800
senior citizen

In [ ]:
a = int(input(""))
if (a%2==0):
  print(str(a)+"even number")
else:
  print(str(a)  +  "odd number")

11
11odd number

In [ ]:
x = int(input(""))
if x>0:
  print(' x is a positive')
  if x%2==0:
     print("x is even")
  else:
     print("x is odd")
else:
   print("x is not positive")

-1
x is not positive

In [ ]:
score = int(input(""))
if score >= 90:
   print("grade:A")
elif score >=80:
   print("grade:B")
   if score >=85:
      print("grade:B+")
elif score >=70:
   print("grade:C")
else:
   print("grade: below c")

20
grade: below c

In [ ]:
count = 10
while count>0:
    print(count)
    count-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
count = 1
while count<=20:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
product = 1
a = int(input(""))
count = 1
while(count<a):
    product*= count
    count+=1
     print(product)

IndentationError: unexpected indent (<ipython-input-4-4698c90f89b7>, line 7)

In [ ]:
a = 1
b= int(input(""))
count = 1
while(count<b):
    a*=count
    count+=1
    print(a) # Corrected indentation: print statement aligned with other statements inside the loop

5
1
2
6
24

In [ ]:
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [ ]:
a =1
while count<=10:
  print(count)
  count+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for deepu in ("sundar"):
  print(deepu)

s
u
n
d
a
r

In [ ]:
s = "i am sundar,i am deepika"
print(len(s))

24

In [ ]:
s = ""
for num in range(1,6):
   s = s+str(num)+""
   print(s)

1
12
123
1234
12345

In [ ]:
a = "sundar DEEPU"
print(a.lower())

hello world

In [ ]:
a = "SUNDAR deepu"
print(a.upper()) # Changed 'heigher' to 'upper'

HELLO WORLD

In [ ]:
print(a.strip())

HELLO world

In [ ]:
a = "1234"
b = a[::-1]
print(b)

4321

In [ ]:
a = '1112'
b = a[::-1]
if a==b:
  print("palindrome")
else:
  print("not palindrome")

not palindrome

In [ ]:
s = "apple,orange,banana"
f = s.split(",")
print(f)

['apple', 'orange', 'banana']

In [ ]:
s = "apple,orange,banana"
f = s.startswith("apple")
print(f)

True

In [ ]:
string = "apple,orange,banana"  # Changed string to a single string
f = string.endswith("banana")
print(f)

True

In [ ]:
n = 5
for i in range(1,n+1):
  for j in range(i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
count = 1
s = ""
for i in range(5):
    for j in range(5):
       s+=str(count)+"" # Convert count to a string using str(count)
       count+=1
    print(s)
    s =""

12345
678910
1112131415
1617181920
2122232425

In [ ]:
for num in range(1,6):
  if num ==3:
    break
  print(num)

1
2

In [ ]:
for num in range(1,6):
  if num % 2 ==0:
    continue
  print(num)

1
3
5

In [ ]:
a = "sundar"
b = "deepika"
print(ord('b')) # Pass the first character of string 'a' to ord()

98

In [ ]:
print(a>b)

True

In [ ]:
n = [1,2,3,4,5,"deepu"]
print(n)

[1, 2, 3, 4, 5, 'deepu']

In [ ]:
n[0] = "sundar"
print(n)

['sundar', 2, 3, 4, 5, 'deepu']

In [ ]:
a = ["raju","deepu"]